{
	"node_ws":[
        {% for node in groups['nodes'] %}
		{
            "ws":"ws://{{ hostvars[node].ansible_host }}:5225",
            "nodeId":{{ hostvars[node].node_id }}
		}{{ "," if not loop.last  else "" }}
        {% endfor %}


	]
}
