{
        "idleTimeOut":5000,
        "heartbeatTimeOut":2400,
        "candidateTimeOut":200,

	"nodeId":{{ node_id }},
	"vpcm_port":5223,
	"sync_port":5225,
	"monitor_port":5226,
	"calc_ws":[
		"ws://192.168.0.99:5221"
	],
	"auditpath":"/ssx10/log/",
	"datapath":"/ssx10/data/",
	"tmpath":"/tmp/",
	"testfile":"/ssx10/bin/node.html"	
}
